/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* common style or utilities */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* -----------------------------
           header style start
-------------------------------- */
header {
  background-color: #252c99;
}
.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-width {
  padding-left: 156px;
}
.half-width h3 {
  color: #ffffff;
  font-size: 64px;
  margin-bottom: 16px;
}
.half-width a {
  text-decoration: none;
  background-color: #e02c6d;
  padding: 10px 24px;
  text-align: center;
  color: white;
  width: 170px;
  height: 100px;
  box-shadow: inset 0 0 0 0 rgb(24, 5, 1);
  transition: ease-out 0.5s;
  text-transform: uppercase;
}

.half-width a .fas {
  width: 5px;
  padding-left: 5px;
  text-align: center;
}
.half-width a:hover {
  box-shadow: inset 168px 0 0 0 rgb(26, 8, 5);
  border-radius: 5px;
}
.half-width img {
  width: 556px;
  height: 438px;
  padding-right: 140px;
  padding-bottom: 86px;
  padding-top: 67px;
}

/* ---------------------------------------
            main section style
------------------------------------------- */
main {
  margin-top: 70px;
  width: 1050px;
  margin-left: 200px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-banner img {
  width: 300px;
  height: 256px;
}
.player-info h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
/*---------------------------------------
             Match fixure and result style
--------------------------------------- */
.section-title {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  text-transform: uppercase;
  color: cornflowerblue;
}

.match-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.match-fixures {
  box-shadow: 10px 10px 40px gainsboro;
  padding: 50px 100px;
  border-radius: 10px;
}
.latest-result {
  box-shadow: 10px 10px 40px gainsboro;
  padding: 50px 100px;
  border-radius: 10px;
}
.match-info p {
  font-size: 20px;
  font-weight: bold;
  color: tomato;
}
.latest-result span {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
/* ----------------------------------
            Registration area style
------------------------------------- */
.registration-area {
  box-shadow: 10px 10px 40px gray;
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 15px;
  background-color: whitesmoke;
}
.form-title {
  text-align: center;
  text-transform: uppercase;
}
.form-text {
  padding-left: 30px;
}
.form-text input {
  border-radius: 10px;
  border: none;
  /* box-shadow: 20px 20px 60px rgb(243, 235, 235); */
  padding: 10px 15px;
  border: 1px solid gray;
}

/* ----------------------------------
            footer style 
------------------------------------- */
footer {
  width: 483px;
  height: 213px;
  text-align: center;
  margin: 0 auto;
  margin-top: 158px;
}
.soccer-banner img {
  width: 50%;
}
.fab {
  font-size: 20px;
  margin-left: 5px;
  background-color: rgb(216, 213, 213);
  border-radius: 100px;
  padding: 5px;
}
.social-banner p {
  font-weight: 500;
}

/* media queries start */

/* -------------------------------
               mobile devices
---------------------------------- */

@media only screen and (max-width: 668px) {
  header {
    width: 100%;
  }
  .top-header {
    flex-direction: column;
  }
  .half-width {
    padding: 5px;
  }
  .half-width img {
    width: 100%;
  }
  main {
    width: 100%;
    margin: 0 auto;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .match-info {
    flex-direction: column;
    width: 100%;
  }
  .match-info p {
    font-size: 15px;
    font-weight: bold;
    color: tomato;
  }
  .registration-area {
    box-shadow: 10px 10px 40px gray;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: whitesmoke;
  }
  footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 158px;
  }
}
/* Tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
}
